.Header {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}
.Header__contain {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header__titre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.Header__titre__h1 {
    color: #aa5e00;
    font-size: clamp(2.8rem, 0.4286rem + 2.8571vw, 3.5rem);
}

.Header__titre__bio {
    width: 25%;
}

.Header__img {
    width: 25%;
}

@keyframes fly {
    0% {
        top: 0%;
        left: 0%;
    }
    75% {
        top: 15%;
        left: 10%;
    }
    100% {
        top: 0%;
        left: 100%;
    }
}

#box {
    width: 80px;
    height: 80px;
    position: absolute;
    animation: fly 8s ease-in-out;
    animation-fill-mode: forwards;
}

#bee {
    width: 60px;
}
