.Menu {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Menu__nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__hamburger {
    font-size: 1.6rem;
    display: none;
    margin: 15px;
}

@media screen and (max-width: 768px) {
    .Menu__nav {
        display: none;
        width: auto;
    }
    .Menu {
        width: auto;
        /* flex: 1; */
        flex-direction: column;
        margin-top: 0px;
    }
    .Header__hamburger {
        display: block;
    }
    .Menu__nav {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        /* z-index: 1; */
        top: 10%;
        left: 10%;
        /* width: 95%; */
        height: 50vh;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 10px 13px -7px #000000,
            5px 5px 15px 5px rgba(156, 156, 156, 0);
    }
}

.visible {
    display: flex !important;
}
