.App {
    width: 100vw;
    /* height: 100vh; */
    /* max-width: 1440px; */
    padding: 15px;
    background-image: url("../public/image/wood-background.png");
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}
